In [1]:
import sqlite3

In [2]:
df = sqlite3.connect('sqlite3.db')
cursor=df.cursor()

In [3]:
cursor.execute('''
    CREATE TABLE Ages (
  name VARCHAR(128),
  age INTEGER 
 )''')

In [31]:
cursor.execute('''INSERT INTO Ages VALUES ('Mara', 28),
                 ('Otto', 33),
                 ('Fyn', 31),
                 ('Neshawn', 17);''')

In [32]:
cursor.execute('''SELECT * FROM Ages''')

In [33]:
rows = cursor.fetchall()
for row in rows:
    print(row)

('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [8]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [9]:
rows = cursor.fetchall()

In [10]:
for row in rows:
    print(row)

('46796E3331',)
('4D6172613238',)
('4E65736861776E3137',)
('4F74746F3333',)

In [11]:
cursor.execute('''select * from ages limit 1''')

In [12]:
rows = cursor.fetchone()

In [17]:
for row in rows:
    print(row)

In [18]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X limit 1''')

In [19]:
rows = cursor.fetchall()
for row in rows:
    print(row)

('46796E3331',)

In [15]:
#create virtual table view
cursor.execute('''create view vhex as SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [20]:
cursor.execute('''select * from vhex limit 1''')

In [21]:
rows = cursor.fetchall()
for row in rows:
    print(row)

('46796E3331',)